In [1]:
cd Documents/unity/rev11

C:\Users\achma\Documents\unity\rev11

In [2]:
cd Data_Pengujian

C:\Users\achma\Documents\unity\rev11\Data_Pengujian

In [3]:
cd Pengujian_100/

C:\Users\achma\Documents\unity\rev11\Data_Pengujian\Pengujian_100

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B0F1-CA1A

 Directory of C:\Users\achma\Documents\unity\rev11\Data_Pengujian\Pengujian_100

05/05/2020  05:12 PM    <DIR>          .
05/05/2020  05:12 PM    <DIR>          ..
05/05/2020  04:09 PM             1,880 log_2020.05.05_16.08.23.csv
05/05/2020  04:11 PM             1,881 log_2020.05.05_16.09.47.csv
05/05/2020  04:12 PM             1,889 log_2020.05.05_16.11.07.csv
05/05/2020  04:13 PM             1,868 log_2020.05.05_16.12.27.csv
05/05/2020  04:15 PM             1,888 log_2020.05.05_16.13.48.csv
05/05/2020  04:16 PM             1,891 log_2020.05.05_16.15.08.csv
05/05/2020  04:17 PM             1,878 log_2020.05.05_16.16.28.csv
05/05/2020  04:19 PM             1,896 log_2020.05.05_16.17.49.csv
05/05/2020  04:20 PM             1,865 log_2020.05.05_16.19.09.csv
05/05/2020  05:12 PM             1,823 log_2020.05.05_16.20.29.csv
              10 File(s)         18,759 bytes
               2 Dir(s)  186,946,244,608 bytes free

In [10]:
import pandas as pd
import glob
files = glob.glob('*.csv')

In [11]:
files

['log_2020.05.06_07.02.23.csv',
 'log_2020.05.06_07.03.44.csv',
 'log_2020.05.06_07.05.04.csv',
 'log_2020.05.06_07.06.24.csv',
 'log_2020.05.06_07.07.45.csv',
 'log_2020.05.06_07.09.05.csv',
 'log_2020.05.06_07.10.25.csv',
 'log_2020.05.06_07.11.45.csv',
 'log_2020.05.06_07.13.06.csv',
 'log_2020.05.06_07.14.26.csv']

In [12]:
li = []
for filename in files:
    df = pd.read_csv(filename)
    li.append(df)

In [13]:
frame = pd.concat(li, axis=1, ignore_index=True)

In [14]:
frame

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,2.560217,0.0,0.00000,1.0,2.627736,0.0,0.000000,1,2.409145,...,0.0,0.000000,1.0,2.780821,0.0,0.000000,1.0,2.579798,0.0,0.00000
1,2.0,3.581460,0.0,0.00000,2.0,2.469593,0.0,0.000000,2,3.036573,...,0.0,0.000000,2.0,3.188424,0.0,0.000000,2.0,3.238043,0.0,0.00000
2,3.0,3.077031,0.0,0.00000,3.0,2.972445,0.0,0.000000,3,3.446568,...,0.0,0.000000,3.0,3.356014,0.0,0.000000,3.0,3.533246,0.0,0.00000
3,4.0,3.383564,0.0,0.00000,4.0,2.979285,0.0,0.000000,4,3.442531,...,0.0,0.000000,4.0,3.477898,0.0,0.000000,4.0,3.317111,0.0,0.00000
4,5.0,3.388426,0.0,0.00000,5.0,2.749603,0.0,0.000000,5,3.242578,...,0.0,0.000000,5.0,3.276879,0.0,0.000000,5.0,3.208825,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,75.0,1.976349,22.0,11.78305,75.0,2.383243,12.0,10.505500,75,2.391253,...,13.0,6.195252,75.0,2.279304,17.0,9.225239,75.0,2.504778,12.0,20.18199
75,76.0,2.162598,16.0,14.08314,76.0,2.211925,15.0,10.401070,76,2.815260,...,13.0,7.195259,76.0,2.218366,17.0,10.225250,NaN,NaN,NaN,NaN
76,77.0,2.362546,14.0,11.56263,77.0,2.286243,15.0,7.158934,77,2.638557,...,10.0,9.259565,77.0,18.223090,17.0,11.255260,NaN,NaN,NaN,NaN
77,78.0,2.321828,16.0,12.20948,78.0,2.131554,17.0,5.707445,78,2.577654,...,10.0,10.299580,78.0,1.952161,19.0,11.384590,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,2.566232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
frame_1 = frame.drop([75,76,77,78])

In [16]:
new_frame = frame_1.drop([0,4,8,12,16,20,24,28,32,36,], axis=1)

In [17]:
new_frame

,1,2,3,5,6,7,9,10,11,13,...,27,29,30,31,33,34,35,37,38,39
0,2.560217,0.0,0.00000,2.627736,0.0,0.000000,2.409145,0,0.00000,2.350033,...,0.000000,2.860904,0.0,0.000000,2.780821,0.0,0.000000,2.579798,0.0,0.000000
1,3.581460,0.0,0.00000,2.469593,0.0,0.000000,3.036573,0,0.00000,3.301490,...,0.000000,3.238740,0.0,0.000000,3.188424,0.0,0.000000,3.238043,0.0,0.000000
2,3.077031,0.0,0.00000,2.972445,0.0,0.000000,3.446568,0,0.00000,3.467957,...,0.000000,3.737845,0.0,0.000000,3.356014,0.0,0.000000,3.533246,0.0,0.000000
3,3.383564,0.0,0.00000,2.979285,0.0,0.000000,3.442531,0,0.00000,3.482863,...,0.000000,3.930169,0.0,0.000000,3.477898,0.0,0.000000,3.317111,0.0,0.000000
4,3.388426,0.0,0.00000,2.749603,0.0,0.000000,3.242578,0,0.00000,3.663149,...,0.000000,3.317567,0.0,0.000000,3.276879,0.0,0.000000,3.208825,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2.114035,18.0,10.92876,2.538185,9.0,12.061920,7.865110,9,10.40731,2.918985,...,9.004453,2.525506,11.0,3.225240,1.786810,22.0,7.924242,2.460496,12.0,11.293870
71,11.730040,17.0,12.90115,2.508097,9.0,13.101930,2.458051,10,10.03008,2.864293,...,9.521479,2.563957,11.0,4.245242,1.970838,19.0,12.538110,2.394547,13.0,11.226230
72,2.172893,19.0,10.90087,2.449341,10.0,13.524610,2.480463,11,10.12508,2.585481,...,8.118043,2.527265,11.0,5.245243,1.928840,19.0,11.284570,18.722560,13.0,12.246240
73,2.102817,19.0,11.94089,2.418033,11.0,9.977878,2.284372,11,11.14509,2.412666,...,8.780488,2.486104,12.0,5.809690,2.436970,16.0,8.605229,8.490866,6.0,2.996008
74,1.976349,22.0,11.78305,2.383243,12.0,10.505500,2.391253,11,12.14511,2.285954,...,9.780499,2.492556,13.0,6.195252,2.279304,17.0,9.225239,2.504778,12.0,20.181990

In [18]:
new_frame['data_kecepatan_total'] = new_frame[1]+new_frame[5]+new_frame[9]+new_frame[13]+new_frame[17]+new_frame[21]+new_frame[25]+new_frame[29]+new_frame[33]+new_frame[37]
new_frame['data_kecepatan_rata2'] = new_frame[1]+new_frame[5]+new_frame[9]+new_frame[13]+new_frame[17]+new_frame[21]+new_frame[25]+new_frame[29]+new_frame[33]+new_frame[37]
new_frame['data_stop_total'] = new_frame[1+1]+new_frame[5+1]+new_frame[9+1]+new_frame[13+1]+new_frame[17+1]+new_frame[21+1]+new_frame[25+1]+new_frame[29+1]+new_frame[33+1]+new_frame[37+1]
new_frame['data_stop_rata2'] = new_frame[1+1]+new_frame[5+1]+new_frame[9+1]+new_frame[13+1]+new_frame[17+1]+new_frame[21+1]+new_frame[25+1]+new_frame[29+1]+new_frame[33+1]+new_frame[37+1]
new_frame['data_delay_total'] = new_frame[1+2]+new_frame[5+2]+new_frame[9+2]+new_frame[13+2]+new_frame[17+2]+new_frame[21+2]+new_frame[25+2]+new_frame[29+2]+new_frame[33+2]+new_frame[37+2]
new_frame['data_delay_rata2'] = new_frame[1+2]+new_frame[5+2]+new_frame[9+2]+new_frame[13+2]+new_frame[17+2]+new_frame[21+2]+new_frame[25+2]+new_frame[29+2]+new_frame[33+2]+new_frame[37+2]
for i in range (len(new_frame['data_kecepatan_total'])):
    new_frame['data_stop_rata2'][i] = new_frame['data_stop_total'][i] / 10
    new_frame['data_delay_rata2'][i] = new_frame['data_delay_total'][i] / 10
    new_frame['data_kecepatan_rata2'][i] = new_frame['data_kecepatan_total'][i] / 10

C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [19]:
new_frame.to_excel("Data_Rata2_Pengujian.xlsx")

In [20]:
data = [new_frame['data_delay_rata2'],new_frame['data_stop_rata2'],new_frame['data_kecepatan_rata2']]
#Data_1 = pd.DataFrame(new_frame, columns =

In [21]:
frame2 = pd.concat(data, axis=1)

In [22]:
frame2.to_excel("Data_Pengujian_SMT.xlsx")