In [12]:
import argparse

In [2]:
cd Pengujian_baru

C:\Users\achma\Documents\unity\Final_Project_GPU & DI\Data_Pengujian\Pengujian_baru

In [3]:
cd Non_SMT

C:\Users\achma\Documents\unity\Final_Project_GPU & DI\Data_Pengujian\Pengujian_baru\Non_SMT

In [4]:
import pandas as pd
import glob
files = glob.glob('*.csv')

In [5]:
files

['log_2020.05.07_10.46.02.csv',
 'log_2020.05.07_10.47.23.csv',
 'log_2020.05.07_10.48.43.csv',
 'log_2020.05.07_10.50.03.csv',
 'log_2020.05.07_10.51.24.csv',
 'log_2020.05.07_10.52.45.csv',
 'log_2020.05.07_10.54.06.csv',
 'log_2020.05.07_10.55.26.csv',
 'log_2020.05.07_10.56.46.csv',
 'log_2020.05.07_10.58.06.csv']

In [6]:
li = []
for filename in files:
    df = pd.read_csv(filename)
    li.append(df)

In [7]:
frame = pd.concat(li, axis=1, ignore_index=True)

In [8]:
frame

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1,1.673681,0,0.00000,1,2.635696,0,0.00000,1,3.134650,...,0,0.00000,1,2.573340,0,0.00000,1.0,1.510437,0.0,0.00000
1,2,2.329215,0,0.00000,2,3.683015,0,0.00000,2,3.348570,...,0,0.00000,2,3.258379,0,0.00000,2.0,3.434238,0.0,0.00000
2,3,3.090350,0,0.00000,3,3.733853,0,0.00000,3,3.747819,...,0,0.00000,3,3.718046,0,0.00000,3.0,3.245765,0.0,0.00000
3,4,3.181115,0,0.00000,4,3.556329,0,0.00000,4,3.458579,...,0,0.00000,4,3.521563,0,0.00000,4.0,3.038346,0.0,0.00000
4,5,2.970569,0,0.00000,5,3.712060,0,0.00000,5,2.990303,...,0,0.00000,5,3.716100,0,0.00000,5.0,3.122468,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,1.627470,36,22.39853,73,1.046584,48,18.41720,73,1.750889,...,40,13.29790,73,1.740156,30,16.32671,73.0,1.650166,32.0,15.56885
73,74,1.567812,36,16.02575,74,0.980969,48,19.42648,74,1.680577,...,36,13.66936,74,1.690831,33,15.09031,74.0,1.646001,33.0,14.85043
74,75,1.445555,39,15.06902,75,0.961180,47,21.08886,75,1.599363,...,26,19.69123,75,1.671318,34,15.57573,75.0,1.598103,33.0,15.82481
75,76,1.460580,37,16.12249,76,0.834050,51,19.87246,76,1.610039,...,36,14.54683,76,1.401581,38,12.13229,NaN,NaN,NaN,NaN
76,77,1.401853,38,16.07507,77,0.862904,53,20.08634,77,1.389922,...,37,15.06489,77,1.301802,38,13.13268,NaN,NaN,NaN,NaN

In [9]:
frame_1 = frame[:75]

In [10]:
new_frame = frame_1.drop([0,4,8,12,16,20,24,28,32,36,], axis=1)

In [11]:
new_frame

,1,2,3,5,6,7,9,10,11,13,...,27,29,30,31,33,34,35,37,38,39
0,1.673681,0,0.00000,2.635696,0,0.00000,3.134650,0,0.00000,1.795055,...,0.00000,2.674492,0,0.00000,2.573340,0,0.00000,1.510437,0.0,0.00000
1,2.329215,0,0.00000,3.683015,0,0.00000,3.348570,0,0.00000,2.285086,...,0.00000,3.264665,0,0.00000,3.258379,0,0.00000,3.434238,0.0,0.00000
2,3.090350,0,0.00000,3.733853,0,0.00000,3.747819,0,0.00000,3.027331,...,0.00000,3.387317,0,0.00000,3.718046,0,0.00000,3.245765,0.0,0.00000
3,3.181115,0,0.00000,3.556329,0,0.00000,3.458579,0,0.00000,2.730902,...,0.00000,3.267471,0,0.00000,3.521563,0,0.00000,3.038346,0.0,0.00000
4,2.970569,0,0.00000,3.712060,0,0.00000,2.990303,0,0.00000,3.145232,...,0.00000,2.845131,0,0.00000,3.716100,0,0.00000,3.122468,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1.522306,38,19.05682,1.182582,45,20.19757,1.875717,32,19.27554,1.958877,...,15.05244,1.584571,35,20.61765,1.861859,30,14.26445,1.600509,32.0,23.16941
71,1.550981,36,22.71415,1.127036,47,18.78650,1.808264,31,18.74052,1.843594,...,15.33017,1.613632,30,15.44163,1.890503,30,15.32447,1.667933,35.0,14.59872
72,1.627470,36,22.39853,1.046584,48,18.41720,1.750889,31,14.90095,1.808620,...,32.66704,1.581694,40,13.29790,1.740156,30,16.32671,1.650166,32.0,15.56885
73,1.567812,36,16.02575,0.980969,48,19.42648,1.680577,31,15.89263,1.833926,...,13.56178,1.657418,36,13.66936,1.690831,33,15.09031,1.646001,33.0,14.85043
74,1.445555,39,15.06902,0.961180,47,21.08886,1.599363,31,16.90376,2.240754,...,13.73179,1.905522,26,19.69123,1.671318,34,15.57573,1.598103,33.0,15.82481

In [18]:
new_frame['data_kecepatan_total'] = new_frame[1]+new_frame[5]+new_frame[9]+new_frame[13]+new_frame[17]+new_frame[21]+new_frame[25]+new_frame[29]+new_frame[33]+new_frame[37]
new_frame['data_kecepatan_rata2'] = new_frame[1]+new_frame[5]+new_frame[9]+new_frame[13]+new_frame[17]+new_frame[21]+new_frame[25]+new_frame[29]+new_frame[33]+new_frame[37]
new_frame['data_stop_total'] = new_frame[1+1]+new_frame[5+1]+new_frame[9+1]+new_frame[13+1]+new_frame[17+1]+new_frame[21+1]+new_frame[25+1]+new_frame[29+1]+new_frame[33+1]+new_frame[37+1]
new_frame['data_stop_rata2'] = new_frame[1+1]+new_frame[5+1]+new_frame[9+1]+new_frame[13+1]+new_frame[17+1]+new_frame[21+1]+new_frame[25+1]+new_frame[29+1]+new_frame[33+1]+new_frame[37+1]
new_frame['data_delay_total'] = new_frame[1+2]+new_frame[5+2]+new_frame[9+2]+new_frame[13+2]+new_frame[17+2]+new_frame[21+2]+new_frame[25+2]+new_frame[29+2]+new_frame[33+2]+new_frame[37+2]
new_frame['data_delay_rata2'] = new_frame[1+2]+new_frame[5+2]+new_frame[9+2]+new_frame[13+2]+new_frame[17+2]+new_frame[21+2]+new_frame[25+2]+new_frame[29+2]+new_frame[33+2]+new_frame[37+2]
for i in range (len(new_frame['data_kecepatan_total'])):
    new_frame['data_stop_rata2'][i] = new_frame['data_stop_total'][i] / 10
    new_frame['data_delay_rata2'][i] = new_frame['data_delay_total'][i] / 10
    new_frame['data_kecepatan_rata2'][i] = new_frame['data_kecepatan_total'][i] / 10

C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\achma\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [19]:
new_frame.to_excel("Data_Rata2_Pengujian2.xlsx")

In [20]:
data = [new_frame['data_delay_rata2'],new_frame['data_stop_rata2'],new_frame['data_kecepatan_rata2']]
#Data_1 = pd.DataFrame(new_frame, columns =

In [21]:
frame2 = pd.concat(data, axis=1)

In [22]:
frame2.to_excel("Data_Pengujian_NonSMT.xlsx")